table {
    border: 1px solid black;
    width: 900px;
    height: 900px;
}

.cell {
    height: 30px;
    width: 30px;
}

.xLegend{
    height: 10px;
    width: auto;
    text-align: center;
}

.yLegend{
    width: 10px;
    height: auto;
    text-align: center;
}

.dark {
    background: black;
}

.light {
    background-color: white;
}
