
table {
    border: 1px solid black;
    width: 900px;
    height: 900px;
}

.cell {
    height: 30px;
    width: 30px;
}

.xLegend {
    height: 10px;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

.yLegend {
    width: 10px;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.dark {
    background: black;
}

.light {
    background-color: white;
}

.whitePieces .blackPieces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.piece {
    float: left;
    font-size: 100pt;
    text-align: center;
}
