
table {
    border: 1px solid black;
    table-layout: fixed;
    display: flex;
    width: 64vw;
}

.xLegend {
    height: 3vh;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

.yLegend {
    width: 3vw;
    text-align: center;
    vertical-align: middle;
}

.cell {
    height: 9vh;
    width: 9vh;
    text-align: center;
    white-space: nowrap;
}

.dark {
    background: black;
}

.light {
    background: white;
}

.whitePieces, .blackPieces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.piece {
    display: inline-block;
    color: darkslategrey;
    text-align: center;
}

.king, .queen {
    font-size: 60pt;
}

.rook, .bishop, .knight {
    font-size: 45pt;
}

.pawn {
    font-size: 40pt;
}
